
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;600;700;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
  font-family: 'Roboto Slab', serif;
}

h1 {
  color: darkgreen;
  padding: 8px;
  text-align: center;
  font-size: larger;
  background-color: rgb(239, 235, 235);
}

#optionsTravel {
  display: flex;
  gap: 10px;
}

#date {
  width: 250px;
  color: lightgray;
}

#footerForm {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}